<footer class="footer" role="contentinfo">
    <div class="footer-wrapper">
      
      <p class="footer-copyright">&copy; 2025 APPCORE. Wszystkie prawa zastrzeżone.</p>
      
      
      <ul class="social-links" role="list">
        <li>
          <a href="#" aria-label="Facebook">
            <i class="pi pi-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#" aria-label="Twitter">
            <i class="pi pi-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#" aria-label="LinkedIn">
            <i class="pi pi-linkedin" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
  